html {
	
}

/* TYPOGRAPHIE */

h1 {
	color: black;
	font-family: 'Poppins', sans-serif;
}

h2 {
	color: rgb(59,161,211);
	font-size: 70px;
	font-family: 'Poppins', sans-serif;
}

.img {
	width: 25%;
}

.title2 {
	color: rgb(0,0,0);
	font-weight: 47;
}

h3 {
	color: rgb(237,102,99);
	font-family: 'Roboto Slab', serif;
}

/* MISE EN PAGES */

.aboutme {
	display: flex;

	justify-content: space-around;

}  
